* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS';

}

h2 {
    font-family:   sans-serif;
}
.header {
    gap: 20px;
}

.background-colour {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.flex__horizontal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar {
    padding: 20px;
}
.navbar .p__navbar {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}
.meme {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.meme-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

input {
    height: 30px;
    border: 1px solid rgb(178, 175, 175);
    border-radius: 5px;
    margin-bottom: 20px;
    width: 250px;
    font-family: 'Karla';
    font-size: 0.9rem;
    text-indent: 10px;
    color: black;
}

input:last-child {
    margin-left: 10px;
}
/* 
.mem-box__bottom {
    display: flex;
    align-items: center;
} */

button {
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 390px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1.2px;
}
.meme-box__image {
    margin-top: 20px;
    width: 500px;
}

.first-meme {
    width: 500px; 
}
.meme-box__container {
    position: relative;
    
}
.meme-text {
    font-size: large;
    color: #ffffff;
    font-family: impact, sans-serif;
    position: absolute;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2.6rem;
    -webkit-text-stroke: 2px black;
    font-weight: bolder;
    
}
.bottom{
    bottom: 20px;
    left:30%
    
}
.top{
    top: 20px;
    right: 30%
}